$snackbar-wrapper-min-width: 0
$navigation-drawer-border-width: 0
$breadcrumbs-item-font-size: 18px
$card-title-font-size: 18px
$card-title-line-heigth: 16px
$card-border-radius: 8px

$dark1: #1A1C28
$dark2: #151621
.theme--dark
  &.v-application
    background-color: $dark2 !important
  .v-skeleton-loader
    background-color: $dark1 !important
    > div
      background-color: $dark1 !important
.v-main
  min-height: calc(100vh - 64px)
